body {
    font-family: 'Roboto', "sans-serif";
}

article {
    font-size: 21px;
    text-align: center;
    margin: auto;
    width: 90%;
    line-height: 1.4em;
    font-weight: 300;
    max-width: 800px;
    margin-top: 100px;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

nav {
    align-content: center;
    background-color: #1d1d1f;
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

nav li,a {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #f5f5f775;
    margin: 8px 8px;
    height: 22px;
    text-decoration: none;
    line-height: 8px;
    font-family: Futura, Helvetica, "sans-serif";
    font-weight: 500;
}

nav a:hover {
    color: #f5f5f7;
    text-shadow:0px 0px 5px #ffffff75;
}

nav li.current,a.current {
    border-bottom: solid #f5f5f7 2px;
    color: white;
}

a.skip{
    background: black;
    color: white;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: relative;
    right: 500px;
  }

  .skip:focus {
    position: relative;
    left: 0px;
    top: 20px;
  }

.gallery {
    display: grid;
    grid-template: repeat(3,200px) / repeat(3,200px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    margin-top: 100px;
}

.gallery.imac {
    background-color: #fafafa;
}

.gallery img {
    width: 100%; 
    padding: 2px;
}

img.imac-image {
    height: 100%;
    width: auto;
}

/* img.xbox-image {
    height: 100%;
    width: auto;
} */

.landing-page {
    background-color: #e6e6e6;
    padding: 10px;
    margin: 50px 10px 50px 10px;
    display: grid;
    grid-template-rows: 400px 400px 400px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.landing-page:nth-child(2) {
    background-color: white;
}

.landing-page img {
    width: 90%;
}

img:hover {
    opacity:0.5;
    transition: 0.5s ease;
}

.white {
    background-color: white;
}

footer {
    background-color: #f5f5f7;
    font-size: 12px;
    height: 48px;
    text-align: center;
    padding: 20px;
    padding: 20px;
}

.banner {
    height: 300px;
    background-color: black;
    background-image: url("../images/industrial_design.jpg");
    color: white;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    animation: fadein 2s;
    filter: blur(4px); 

    /* paralax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pos_relative{ 
    position: absolute; 
    top: 200px; 
    text-align: center; 
    width: 100%; 
    color: white;
    margin: 0px; 
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

i {
    margin: 25px 5px;
}

.flip-card {
    background-color: transparent;
    width: 50%;
    height: 50%;
    perspective: 1000px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do a horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-back p {
    position: relative;
    top: 75px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:white;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }

@media only screen and (min-width: 680px) {
    .landing-page img {
        width: 90%;
        margin: 25px;
    }

    fieldset {
        width: 400px;
  margin:auto;
    }

    .landing-page {
        grid-template-columns: 1fr 1fr;
    }

    nav li,a {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1220px) {
    article {
        margin-bottom: 100px;
    }

    nav {
        height: 50px;
        line-height: 1.9;
    }

    nav li,a {
        display: inline-block;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #f5f5f775;
        margin: 0 8px;
        height: 22px;
        text-decoration: none;
    }

    .landing-page img {
        width: 75%;
        margin: 50px;
    }

    fieldset {
        width: 400px;
  margin:auto;
    }

    .landing-page {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    .banner, .flip-card-inner {
        transition: none;
    }

    /*Turn off transition*/
    a.skip {
        -webkit-transition: initial; /* sets to default setting */
        transition: initial; /* sets to default setting */
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1200px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 680px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }